<main class="bg-zinc-950 h-screen w-full font-bold text-white">
  <section class="container mx-auto flex flex-col items-center justify-center">
    <h1 class="text-center text-2xl py-4 font-black">
      Proxima pelicula de marvel!
    </h1>
    <img
      class="w-72 shadow-lg shadow-zinc-800/20"
      src="{{ datos.poster_url }}"
      alt=""
    />

    <h2 class="font-bold text-2xl pt-6">
      {{ datos.title }}
    </h2>
    <p class="font-light py-2 text-center">
      {{ datos.overview }}
    </p>
    <p class="font-light py-2">
      Faltan:
      <span class="font-bold">{{ datos.days_until }} dias </span>
    </p>
    <span class="text-slate-500">Se estrena el: {{datos.release_date}}</span>
  </section>
</main>
